replicaCount: 1

service:
  type: ClusterIP

ingress:
  enabled: true
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  host: backstage.metube.dk
  tls:
    enabled: true
    secretName: backstage-tls

appConfig:
  app:
    title: Backstage
    baseUrl: https://backstage.metube.dk

  backend:
    baseUrl: https://backstage.metube.dk
    listen:
      port: 7007

  auth:
    providers:
      guest: {}

  organization:
    name: MyServer

  kubernetes:
    serviceLocatorMethod:
      type: multiTenant
    clusterLocatorMethods:
      - type: config
        clusters:
          - name: local
            url: https://kubernetes.default.svc
            authProvider: serviceAccount

postgresql:
  enabled: true
