replicaCount: 1

service:
  type: ClusterIP

ingress:
  enabled: true
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  host: backstage.metube.dk
  tls:
    enabled: true
    secretName: backstage-tls


extraEnvVarsSecrets:
  - backstage-github-auth

appConfig:
  app:
    title: Backstage
    baseUrl: https://backstage.metube.dk

  backend:
    baseUrl: https://backstage.metube.dk
    listen:
      port: 7007

  auth:
    environment: production
    allowGuest: false
    providers:
      github:
        production:
          clientId: ${GITHUB_CLIENT_ID}
          clientSecret: ${GITHUB_CLIENT_SECRET}
          signIn:
            resolvers:
              - resolver: userNameMatchingUserEntityName

  organization:
    name: FrischWork

  kubernetes:
    serviceLocatorMethod:
      type: multiTenant
    clusterLocatorMethods:
      - type: config
        clusters:
          - name: local
            url: https://kubernetes.default.svc
            authProvider: serviceAccount

  permission:
    enabled: true
    policies:
      - allow:
        permission: '*'
        principal: user:default/andreasfrisch


postgresql:
  enabled: true
