replicas: 1

image:
  tag: 10.4.3 # pin version to avoid surprise upgrades

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

service:
  type: ClusterIP
  port: 80

adminUser: admin
adminPassword: admin # change later or move to a secret

persistence:
  enabled: false
  size: 1Gi

grafana.ini:
  server:
    root_url: "https://grafana.metube.dk/"
    serve_from_sub_path: false
  users:
    allow_sign_up: false
  auth.anonymous:
    enabled: false

datasources: {}

sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard

ingress:
  enabled: true
  ingressClassName: traefik

  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    cert-manager.io/cluster-issuer: letsencrypt-prod

  hosts:
    - grafana.metube.dk

  tls:
    - secretName: grafana-tls
      hosts:
        - grafana.metube.dk
