apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  project: default

  sources:
    - repoURL: https://grafana.github.io/helm-charts
      chart: grafana
      targetRevision: 7.3.9
      helm:
        valueFiles:
          - $values/grafana/values.yaml
        valuesObject: {}

    - repoURL: https://github.com/andreasfrisch/cluster-apps
      targetRevision: main
      path: grafana
      ref: values

  destination:
    server: https://kubernetes.default.svc
    namespace: observability

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
